# ===== Visual Studio =====
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ===== Build results =====
bin/
obj/

# ===== Debug / Release =====
Debug/
Release/
x64/
x86/

# ===== NuGet =====
packages/
*.nupkg
*.snupkg

# ===== Logs & temp =====
*.log
*.tmp

# ===== OS files =====
Thumbs.db
Desktop.ini
.DS_Store

# ===== Rider / VS Code =====
.idea/
.vscode/

# ===== Publish =====
publish/
